<!DOCTYPE html>
<html>
<head>
    <title>Tradutor de Inglês e Francês</title>
</head>
<body>
    <h1>Tradutor de Inglês para Francês</h1>
    <input type="text" id="inputText1" placeholder="Digite o texto em inglês...">
    <button onclick="traduzir('en_to_fr')">Traduzir para Francês</button>
    <p>Texto traduzido: <span id="translatedText1"></span></p>

    <h1>Tradutor de Francês para Inglês</h1>
    <input type="text" id="inputText2" placeholder="Digite o texto em francês...">
    <button onclick="traduzir('fr_to_en')">Traduzir para Inglês</button>
    <p>Texto traduzido: <span id="translatedText2"></span></p>

    <script>
        function traduzir(tipo) {
            var texto = tipo === 'en_to_fr' ? document.getElementById("inputText1").value : document.getElementById("inputText2").value;
            var target = tipo === 'en_to_fr' ? 'fr' : 'en';
            var outputElement = tipo === 'en_to_fr' ? 'translatedText1' : 'translatedText2';
            
            fetch('/traduzir', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    texto: texto,
                    target: target
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById(outputElement).innerText = data.texto;
            })
            .catch(error => console.error('Erro:', error));
        }
    </script>
</body>
</html>